<div class="det-container" [ngClass]="isMobile ? 'mobile' : ''">
	<div class="photos-side" *ngIf="restaurantDetails">
		<ng-image-slider
			[images]="imagesData"
			[animationSpeed]="0.4"
			[imageSize]="{ width: '98%' }"
			[manageImageRatio]="true"
			#nav
		></ng-image-slider>
		<div class="section">
			<span class="h4">Tables plan:</span>
			<img
				*ngIf="restaurantDetails.details?.tablesMap"
				[src]="
					'http://localhost:3000/file/' +
					restaurantDetails.details?.tablesMap
				"
				[alt]="'Plan of tables'"
				class="table-plan"
				(click)="openImageDialog(restaurantDetails.details?.tablesMap)"
			/>
		</div>
	</div>
	<div class="details-side" *ngIf="restaurantDetails">
		<mat-icon
			*ngIf="user"
			class="favorite-icon h1 pointer"
			[ngClass]="!!restaurantDetails.isFavourite ? 'in-favourite' : ''"
			(click)="handleFavChange()"
			[matTooltip]="
				!restaurantDetails.isFavourite
					? 'Add to favourites'
					: 'Remove from favourites'
			"
			[matTooltipPosition]="'right'"
			>favorite_outline</mat-icon
		>
		<div class="h2" *ngIf="restaurantDetails.name">
			{{ restaurantDetails.name | upperFirst }}
		</div>
		<span class="small-details h6" *ngIf="!!restaurantDetails.details">
			{{ restaurantDetails.details.address | addressFormat : false }}
		</span>
		<div class="ratings">
			<mat-icon class="h4">star_outline</mat-icon>
			<span class="h4"
				>{{ restaurantDetails.ratings }} based on
				{{ restaurantDetails.totalOpinions }} opinions</span
			>
		</div>
		<div class="tags">
			<app-tag
				*ngFor="let tag of restaurantDetails.details?.tags"
				[name]="tag"
			></app-tag>
		</div>
		<div class="section" *ngIf="restaurantDetails.id">
			<app-order
				[user]="user"
				[restaurant]="restaurantDetails"
				(onDateChange)="handleDateChange($event)"
			></app-order>
		</div>
		<div class="section">
			<span class="h4">Opening hours:</span>
			<div
				class="row"
				*ngFor="let day of restaurantDetails.details?.openingHours"
				[ngClass]="{
					'selected-day': day.day.toLowerCase() === selectedDay
				}"
			>
				<span class="col-3"
					>{{ day.day | lowercase | upperFirst }}<span>:</span></span
				><span class="col-auto">{{ day.hours }}</span>
			</div>
		</div>
		<div class="section">
			<span class="h4">Description:</span>
			<div class="h6">{{ restaurantDetails.details?.description }}</div>
		</div>
		<div class="section" *ngIf="restaurantDetails.reviews?.length">
			<span class="h4">Opinions:</span>
			<div class="reviews">
				<app-review-box
					*ngFor="let review of restaurantDetails.reviews"
					[review]="review"
				></app-review-box>
			</div>
		</div>
		<div class="section" *ngIf="restaurantDetails.place_id">
			<iframe
				width="100%"
				loading="lazy"
				allowfullscreen
				[src]="url | safeUrl"
			></iframe>
		</div>
	</div>
</div>
