app-restaurant-details {
	padding: 2%;
	.det-container {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: flex-start;
		background-color: $primary-white;
		border-radius: 5px;
		gap: 24px;
		flex: 1 1 auto;
		padding: 1%;

		.photos-side {
			display: flex;
			flex-direction: column;
		}

		.details-side {
			display: grid;
			row-gap: 24px;

			.openingHours {
				display: grid;
			}
		}
	}
}
