<div
	class="search-tile-wrapper pointer"
	[routerLink]="'/home/restaurant/' + restaurantInfo.id"
>
	<div class="image">
		<img
			[src]="'http://localhost:3000/file/' + restaurantInfo.image"
			[alt]="'Restaurant profile image'"
		/>
	</div>
	<div class="details">
		<div class="h4 title-row">
			<span>{{ restaurantInfo.name }}</span>
			<mat-icon class="h4">star_outline</mat-icon>
			<span class="h4"
				>{{ restaurantInfo.rating }}{{ ' '
				}}{{ restaurantInfo.totalOpinions }} opinions</span
			>
		</div>
		<span class="small-details h6">
			{{ restaurantInfo.address | addressFormat }}
		</span>
		<span class="small-details h6">
			{{ 'Phone ' + restaurantInfo.phone }}
		</span>
		<div class="tags">
			<app-tag
				*ngFor="let tag of restaurantInfo.tags.slice(0, 4)"
				[name]="tag"
			></app-tag>
		</div>
		<span class="small-details h6">
			{{ 'Free tables: ' + restaurantInfo.freeTables }}
		</span>
	</div>
</div>
