app-search-tile {
	.search-tile-wrapper {
		border-radius: 24px;
		display: grid;
		grid-template-columns: minmax(250px, 25%) 3fr;
		overflow: hidden;
		background: $primary-white;

		.image {
			display: grid;
			place-items: center;
			img {
				max-height: 165px;
				width: 100%;
				object-fit: cover;
			}
		}

		.details {
			.title-row {
				display: flex;
				span:first-child {
					margin-right: 24px;
				}
			}

			.small-details {
				color: $primary-darkgray-1;
			}

			.tags {
				display: flex;
				gap: 12px;
				padding-bottom: 8px;
				flex-wrap: wrap;

				app-tag {
					min-width: 125px;
				}
			}

			display: grid;
			padding: 0 1%;
			position: relative;

			.favorite-icon {
				position: absolute;
				top: 0.5rem;
				right: 1rem;
				color: black;
				width: unset;
				height: unset;
			}

			.in-favourite {
				color: $favorite-icon;
			}
		}

		.hours {
			padding-left: 8px;
		}

		&:hover {
			background-color: $primary-white-hover;
		}
	}
}
