<div [formGroup]="form" class="control-wrapper">
	<mat-checkbox
		*ngIf="control.disablabed"
		[color]="'basic'"
		(change)="changeDisabled($event.checked)"
	></mat-checkbox>
	<mat-form-field class="filter" *ngIf="control.type !== 'time'; else time">
		<mat-label>{{ control.label | upperFirst }}</mat-label>
		<input
			matInput
			[type]="control.type"
			formControlName="{{ control.name }}"
		/>
	</mat-form-field>
	<ng-template #time>
		<mat-form-field class="time">
			<mat-label>{{ control.label | upperFirst }}</mat-label>
			<input
				matInput
				[pattern]="timeRegex"
				formControlName="{{ control.name }}"
				[placeholder]="currentTime"
				[maxlength]="5"
			/>
			<mat-icon
				class="pointer"
				matSuffix
				*ngIf="!disabled"
				(click)="pickerH.open()"
				>schedule_outline</mat-icon
			>
		</mat-form-field>
		<ngx-mat-timepicker
			(timeSet)="updateTime($event)"
			[format]="24"
			#pickerH
		></ngx-mat-timepicker>
	</ng-template>
</div>
