@import '../../../variables';

app-restaurant-order {
	& {
		padding: 12px;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.client-form {
		padding-top: 12px;
		flex-direction: row;
		gap: 24px;
		align-items: flex-start;
		width: 100%;

		mat-form-field {
			flex: 0 1 40%;

			.mat-mdc-text-field-wrapper {
				background-color: $primary-lightgray-1;
				border-radius: 12px;

				&.mdc-text-field--disabled {
					background-color: $primary-lightgray-1;
				}

				input,
				input::placeholder,
				.mat-mdc-form-field-required-marker,
				mat-label {
					color: $primary-black !important;
				}
			}
		}
	}
}
