<form [formGroup]="orderForm" class="filter-container">
	<app-control
		class="filter"
		*ngFor="let control of controls"
		[control]="control"
		[form]="orderForm"
		[ngClass]="{
			stretch: control.stretch,
			'no-min-width': true
		}"
	></app-control>
	<mat-form-field class="table-id-select">
		<mat-label>Table id</mat-label>
		<mat-select formControlName="tableId">
			<mat-option *ngFor="let table of freeTables" [value]="table.id">
				{{ table.id }}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="orderForm.errors?.['notEnaughSeats']"
			><span>This table is to small to picked size</span></mat-error
		>
	</mat-form-field>
</form>
<div class="action-buttons">
	<button mat-stroked-button color="dark" (click)="refresh()">
		Check availability
	</button>
	<button mat-raised-button color="dark" (click)="reserve()">Reserve</button>
</div>
<div class="freetables">
	<span class="h5">{{ 'Tables availability' }}</span>
	<div class="tables">
		<ng-container *ngIf="freeTables?.length; else zeroTables">
			<app-free-table
				*ngFor="let table of freeTables"
				[freeTableDate]="table"
			></app-free-table>
		</ng-container>
		<ng-template #zeroTables>
			<span>No vacant tables</span>
		</ng-template>
	</div>
</div>
