<form [formGroup]="orderForm" class="filter-container">
	<app-control
		class="filter"
		*ngFor="let control of controls"
		[control]="control"
		[form]="orderForm"
		[ngClass]="{
			stretch: control.stretch,
			'no-min-width': true
		}"
	></app-control>
	<mat-form-field class="table-id-select">
		<mat-label>Table id</mat-label>
		<mat-select formControlName="tableId">
			<mat-option
				*ngFor="let table of restaurant.freeTables"
				[value]="table.id"
			>
				{{ table.id }}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="tableId && tableId.hasError('toSmallTable')"
			>This table is to small to picked size</mat-error
		>
	</mat-form-field>
</form>
<button mat-raised-button color="dark" (click)="reserve()">Reserve</button>
<div class="freetables">
	<span class="h5">{{ 'Tables availability' }}</span>
	<div class="tables">
		<app-free-table
			*ngFor="let table of restaurant?.freeTables"
			[freeTableDate]="table"
		></app-free-table>
	</div>
</div>
