app-fast-filter {
	.circle {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $primary-white;
		color: $primary-black;
		aspect-ratio: 1/1;
		padding: 1em;

		img {
			width: 48px;
			aspect-ratio: 1/1;
		}
	}
}
