<ng-container *ngIf="orders | async as orders; else noOrders">
	<ng-container
		*ngIf="orders.future.length || orders.finished.length; else noOrders"
	>
		<app-order-tile
			*ngFor="let order of orders.future"
			[order]="order"
			[user]="user"
		></app-order-tile>
		<app-order-tile
			*ngFor="let order of orders.finished"
			[order]="order"
			[user]="user"
		></app-order-tile>
	</ng-container>
</ng-container>
<ng-template #noOrders>
	<p class="h3">You don't have any reservations yet</p>
</ng-template>
