<div class="search-wrapper" [ngClass]="isMobile ? 'mobile' : ''">
	<div class="filters">
		<app-filters
			[isExchancedForm]="true"
			[alignment]="verticalAlign"
		></app-filters>
	</div>

	<div
		#resultDiv
		(scroll)="onResultScroll(resultDiv)"
		class="results"
		*ngIf="searchResults$ | async as searchResults"
	>
		<ng-container *ngIf="searchResults.length && !isSearching; else empty">
			<app-search-tile
				*ngFor="let tile of searchResults"
				[restaurantInfo]="tile"
				[userInfo]="user"
			></app-search-tile>
		</ng-container>
		<ng-container *ngIf="isSearching">
			<mat-spinner class="spinner"></mat-spinner>
		</ng-container>
		<button
			mat-mini-fab
			(click)="goToTop()"
			color="dark"
			class="top"
			*ngIf="goToTopVisible"
		>
			<mat-icon>arrow_upward</mat-icon>
		</button>
	</div>
</div>

<ng-template #empty>
	<div class="no-results" *ngIf="!isSearching">
		<img
			[src]="'assets/no-results.png'"
			[width]="256"
			[alt]="'No results'"
		/>
		<div class="h3">No results for this query.</div>
	</div>
</ng-template>
