app-register-customer {
	section {
		padding: 24px;

		form {
			display: flex;
			flex-direction: column;
			margin: auto;
			justify-items: center;

			button {
				border-radius: 1rem !important;
			}

			.phoneGroup {
				display: grid;
				grid-template-columns: 1fr 2fr;
				gap: 24px;
			}

			mat-error > .multiError {
				display: inline-flex;
				flex-direction: column;
			}
		}
	}
}
