app-header {
    nav {
        width: 100%;
        background-color: $primary-black;
        display: grid;
        grid-template-columns: 3fr 5fr 3fr;
        align-items: center;
        padding: 0.75rem 1.5rem;
        
        .logo {
            cursor: pointer;
        }

        h1 {
            justify-self: center;
            color: white;
            font-size: 2rem;
        }
        
        .buttons {
            display: flex;
            gap: 1.5rem;
            justify-self: end;

            mat-icon{
                font-size: 1.5rem !important;
                width: auto !important;
                height: auto !important;
            }

            button {
                background-color: $primary-white;
                color: #000;
                border-radius: 50px;
            }

            > :nth-child(2) {
                background-color: $primary-darkgray-1;
                color: white;
            }

            .account-button-hidden {
                display: none;
            }
        }
    }
    
}