<nav>
    <div class="logo" [routerLink]="'/'">
        <img [src]="'assets/icons/logoIcon.svg'" alt="logo"/>
    </div>
    <h1>Tablook</h1>
    <div class="buttons">
        <ng-content *ngTemplateOutlet="username ? loggedBar : guestBar">
        </ng-content>
    </div>
</nav>

<ng-template #loggedBar>
    <button mat-raised-button [routerLink]="'/account-details'" routerLinkActive="account-button-hidden">
        <mat-icon>{{'account_circle'}}</mat-icon>
        <span>
            {{"Hello " + username}}
        </span>
    </button>
    <button mat-raised-button (click)="logout()">
        <mat-icon>{{'exit_to_app'}}</mat-icon>
        <span>
            {{'Logout'}}
        </span>
    </button> 
</ng-template>

<ng-template #guestBar>
    <button mat-raised-button (click)="openLoginPanel()">Login</button>
    <button mat-raised-button (click)="openRegisterPanel()">Singup</button>
</ng-template>