$primary-black: #000000;
$primary-white: #f4f4f6;
$primary-white-hover: #fafafb;
$primary-gray-1: #e6e6e9;
$primary-gray-2: #9999a1;
$primary-lightgray-1: #d9d9d9;
$primary-darkgray-1: #66666e;
$primary-darkgray-2: rgba(96, 96, 104, 0.6);
$secondary-button: #0e8d7e70;
$secondary-button-wo: #0e8d7e;
$primary-error-bg: rgba(255, 51, 51, 0.6666666667);
$primary-error-text: rgb(204, 0, 0);
$secondary-error-text: rgba(255, 51, 51, 0.88888);
$favorite-icon: #aa0000;
$darkgreen: #00b337;
$lightgreen: #ddffdd;
$lightred: #ffe1dd;
