$primary-black: #000000;
$primary-white: #f4f4f6;
$primary-gray-1: #e6e6e9;
$primary-gray-2: #9999a1;
$primary-darkgray-1: #66666e;
$primary-darkgray-2: rgba(96, 96, 104, 0.6);
$secondary-button: #0e8d7e70;

* {
	box-sizing: border-box;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	color: $primary-black;
}

@import 'bootstrap/scss/bootstrap';

@import 'app/app-module.styles.scss';

@import 'login-module/login-module.scss';
