@import './variables';

[mat-raised-button].mat-button.mat-dark:not(:disabled),
[mat-stroked-button].mat-dark:not(:disabled),
[mat-button].mat-dark:not(:disabled) {
	color: $secondary-button-wo;
}
[mat-raised-button].mat-button.mat-dark:hover:not(:disabled) {
	background-color: #111111;
}

[mat-stroked-button].mat-dark:hover:not(:disabled) {
	background-color: #eeeeee;
}

[mat-raised-button].mat-dark:not(:disabled),
.mat-flat-button.mat-dark:not(:disabled),
.mat-fab.mat-dark:not(:disabled),
.mat-mini-fab.mat-dark:not(:disabled) {
	color: $primary-white;
	background-color: $secondary-button-wo;
}

.mat-icon-button.mat-dark:not(:disabled) {
	color: $secondary-button-wo;
}

* {
	box-sizing: border-box;
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	color: $primary-black;
}

.pointer {
	cursor: pointer;
}

.sorting-icon {
	display: grid;
	grid-template-columns: 1fr auto;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 2px;
}

::-webkit-scrollbar-track {
	background: $primary-white;
}

::-webkit-scrollbar-thumb {
	background: $primary-darkgray-2;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: $primary-darkgray-1;
}

@import 'bootstrap/scss/bootstrap';

@import 'app/app-module.styles.scss';

@import 'login-module/login-module.scss';

@import 'register-module/register-module.scss';

@import 'shared/shared.module.scss';

@import 'home/home.module.scss';

@import 'register-restaurant/register-restaurant.module.scss';

@import './filters-module/filters-module.scss';

@import './restaurant-module/components/restaurant-order/restaurant-order.component.scss';
