app-main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	.top-box {
		background-color: $primary-gray-1;
		padding: 1.5rem;
		font-size: 1.2rem;
		flex: 0 1 auto;
		display: grid;
		gap: 1rem;

		.description {
			display: flex;
			flex-direction: column;

			span {
				text-align: center;
			}
		}
	}

	.bottom-box {
		flex: 1 1 auto;
		display: grid;
		padding: 1.5rem;
		background: image-set(
				'assets/background-m.webp' 1x,
				'assets/background-l.webp' 2x,
				'assets/background-xl.webp' 3x
			)
			rgba(0, 0, 0, 0.5);
		background-position: center center;
		background-size: cover;
		background-blend-mode: multiply;

		.company-section {
			display: flex;
			justify-content: center;
			button {
				border-radius: 2rem;
				background-color: $secondary-button;
				color: $primary-white;
			}
		}
	}
	.wrap {
		app-fast-filters {
			flex-wrap: wrap;
			gap: 24px;
		}

		&.quick-search {
			padding-bottom: 24px;
		}

		app-filters {
			.filter-container {
				flex-wrap: wrap;
				gap: 24px;

				app-control {
					flex-grow: 1;
				}
			}
		}
	}
}
