<section class="top-box">
	<div class="description">
		<span>Tables in restaurant are waiting for you.</span>
		<span>Book it before other do that</span>
	</div>
	<div class="filters" [ngClass]="isMobile ? 'wrap' : ''">
		<app-filters (searchEvent)="goToSearch()"></app-filters>
	</div>
</section>
<section class="bottom-box">
	<div class="quick-search" [ngClass]="isMobile ? 'wrap' : ''">
		<app-fast-filters></app-fast-filters>
	</div>
	<div class="company-section">
		<button mat-raised-button [routerLink]="'/register/restaurant'">
			Do you lead your restaurant? Join to us here
		</button>
	</div>
</section>
